/* line 3, ../compass/sass/style.scss */
body {
  font-family: 'Ubuntu Condensed', sans-serif;
}
/* line 6, ../compass/sass/style.scss */
body header .carousel-caption {
  margin-bottom: 95px;
}
/* line 8, ../compass/sass/style.scss */
body header .carousel-caption h1 {
  font-size: 4em;
  font-family: 'Ubuntu Condensed', sans-serif;
  text-shadow: 2px 2px 2px #393939;
}
/* line 14, ../compass/sass/style.scss */
body header .carousel-caption a {
  color: #fff;
  text-shadow: 2px 2px 2px #393939;
  margin-right: 20px;
}
/* line 19, ../compass/sass/style.scss */
body header .carousel-caption .main-callout {
  display: none;
}
/* line 23, ../compass/sass/style.scss */
body header .carousel-caption h3:first-child {
  animation-delay: 1s;
}
/* line 27, ../compass/sass/style.scss */
body header .carousel-caption h3:nth-child(2) {
  animation-delay: 2s;
}
/* line 34, ../compass/sass/style.scss */
body #nav-bar {
  position: relative;
  background-color: #000;
  height: 80px;
  width: 100%;
  z-index: 9;
}
/* line 40, ../compass/sass/style.scss */
body #nav-bar ul {
  text-align: center;
}
/* line 43, ../compass/sass/style.scss */
body #nav-bar li {
  display: inline-block;
  padding: 24px 12px;
}
/* line 47, ../compass/sass/style.scss */
body #nav-bar a {
  font-size: 16px;
  font-family: 'Ubuntu Condensed', sans-serif;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
/* line 55, ../compass/sass/style.scss */
body #nav-bar .active {
  border-top: 2px solid black;
  padding-top: 10px;
}
/* line 61, ../compass/sass/style.scss */
body .nav-bar-scrolled {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 100;
  padding-bottom: 12px;
}
/* line 70, ../compass/sass/style.scss */
body #main .container {
  margin: auto;
}
/* line 74, ../compass/sass/style.scss */
body #main .container .row .col-md-12 h1 {
  margin-bottom: 4%;
  margin-top: 4%;
}
/* line 78, ../compass/sass/style.scss */
body #main .container .row .col-md-12 h3 {
  line-height: 2em;
}
/* line 81, ../compass/sass/style.scss */
body #main .container .row .col-md-12 h3 a {
  text-decoration: none;
}
/* line 84, ../compass/sass/style.scss */
body #main .container .row .col-md-12 h3 a span img {
  width: 50px;
  height: 25px;
}
/* line 90, ../compass/sass/style.scss */
body #main .container .row {
  margin-top: 4%;
  margin-bottom: 4%;
}
/* line 94, ../compass/sass/style.scss */
body #main .container .row .col-xs-4 i {
  margin-bottom: 5%;
}
/* line 97, ../compass/sass/style.scss */
body #main .container .row .col-xs-4 p {
  font-weight: bold;
  font-size: 2em;
}
/* line 105, ../compass/sass/style.scss */
body .padding-main {
  margin-top: 90px;
  width: 100%;
}
/* line 109, ../compass/sass/style.scss */
body #first-picture {
  height: 400px;
}
/* line 113, ../compass/sass/style.scss */
body .cd-fixed-bg {
  min-height: 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 120, ../compass/sass/style.scss */
body .cd-bg-1 {
  background-image: url("../../img/tnmountainroad.jpg");
}
/* line 123, ../compass/sass/style.scss */
body .cd-bg-2 {
  background-image: url("../../img/tnforesttrail.jpg");
}
/* line 126, ../compass/sass/style.scss */
body .inspirational-text {
  color: white;
  margin-top: 160px;
  text-shadow: 2px 2px #000;
}
/* line 131, ../compass/sass/style.scss */
body h2.inspirational-text span {
  font-size: .5em;
  color: #ccc;
}
/* line 135, ../compass/sass/style.scss */
body #second-picture {
  height: 500px;
}
/* line 138, ../compass/sass/style.scss */
body #about {
  background: #e7e7e7;
  padding-top: 5%;
  padding-bottom: 5%;
}
/* line 145, ../compass/sass/style.scss */
body #about #image-wrapper img {
  margin-top: 5%;
}
/* line 149, ../compass/sass/style.scss */
body #about #image-wrapper p {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0px;
  line-height: 1.8em;
}
/* line 155, ../compass/sass/style.scss */
body #about #image-wrapper h2 {
  background: #e7e7e7;
  margin: 0px;
}
/* line 160, ../compass/sass/style.scss */
body #about #image-wrapper #name {
  margin-bottom: 2%;
  margin-top: 2%;
}
/* line 166, ../compass/sass/style.scss */
body #work {
  padding-bottom: 25px;
}
/* line 169, ../compass/sass/style.scss */
body #work .container .row {
  padding: 25px;
}
/* line 171, ../compass/sass/style.scss */
body #work .container .row .project-heading {
  background: #e7e7e7;
  border: 2px solid #ccc;
  padding: 2%;
}
/* line 175, ../compass/sass/style.scss */
body #work .container .row .project-heading h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}
/* line 180, ../compass/sass/style.scss */
body #work .container .row .project-results {
  border: 2px solid #ccc;
  overflow: hidden;
  margin-bottom: 5%;
  padding: 5%;
  height: 370px;
}
/* line 185, ../compass/sass/style.scss */
body #work .container .row .project-results span {
  font-weight: bold;
  font-size: 2em;
}
/* line 190, ../compass/sass/style.scss */
body #work .container .row .project-results .work-img {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 199, ../compass/sass/style.scss */
body #contact {
  background: #e7e7e7;
  padding: 5%;
  border-top: 2px solid #ccc;
}
/* line 203, ../compass/sass/style.scss */
body #contact h2 {
  padding-bottom: 5%;
}
/* line 206, ../compass/sass/style.scss */
body #contact a {
  text-decoration: none;
  font-size: 1.5em;
}
/* line 211, ../compass/sass/style.scss */
body footer {
  height: 90px;
  background: black;
  color: #ccc;
  font-size: 1.5em;
  padding-top: 25px;
  margin: 0px;
}
